body{
    background-color: black;
}
div{
    display: flex;
    justify-content: center;
    margin-top: 50vh;
    ;
}
button{
    background-color: black;
    color: chocolate;
    padding: 5px 15px;
    border: 1px solid chocolate;
    


}
button:hover{
    color: greenyellow;
    border: 1px solid greenyellow;
    
    box-shadow: 0px 5px 5px greenyellow;

}